<link rel="stylesheet" type="text/css" href="/static/css/all.css">

<div class="footer">
    <div class="inner_footer">
      <div class="logo_container">
        <h1>ORGANIC<span>SHOP</span></h1>
        <img src="/static/images/logo.png">
      </div>

      <div class="footer_third">
        <h1>MENU</h1>
        <a href="/about">about</a>
        <a href="/catalog">catalog</a>
        <a href="/contact">contact</a>
      </div>

      <div class="footer_third">
        <h1>NEED HELP?</h1>
        <a href="mailto:stalmanastya@gmail.com?subject=ORGANICSHOP">email</a>
        <a href="tel:+375257089018">call</a>
      </div>

      <div class="footer_third">
        <h1>FOLLOW US</h1>
        <li><a href="https://www.instagram.com/stalmashenko/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://vk.com/stalmashenko"><i class="fab fa-vk"></i></a></li>
        <li><a href="https://twitter.com/Stalmashenko"><i class="fab fa-twitter"></i></a></li>

        <span>
        ANASTASON company <br>
        Belarus, Minsk <br>
        31 Napoleona Ordy street
        220045
        </span>
      </div>
    </div>
</div>
