<!DOCTYPE html>
<html>
<head>
  <script src="../../static/js/all.js"></script>
  <script src="../../static/js/fontawesome.js"></script>
  <link rel="stylesheet" type="text/css" href="../../static/css/all.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/header.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/fontawesome.min.css">
</head>
<body>
  <div class="header">
    <div class="inner_header">
      <div class="logo_container">
        <img src="../../static/images/logo.png">
        <h1>ORGANIC<span>SHOP</span></h1>
      </div>

      <ul class="navigation">
        <a href="#"><li>home</li></a>
        <a href="#"><li>about</li></a>
        <a href="#"><li>catalog</li></a>
        <a href="#"><li>cart</li></a>
        <a href="#"><li>orders</li></a>
        <a href="#"><li>contact</li></a>
      </ul>
    </div>
  </div>
</body>
<html>
