<link rel="stylesheet" type="text/css" href="/static/css/contact.css">

<div class="contact">
    <div class="contact-title">CONTACT</div>
    <div class="contact-container">
        <div class="contact-info">
            <strong>ADDRESS</strong><br>
            <div class="contact-info-local">BELARUS, MINSK</div>
            <div class="contact-info-local">31 Napoleona Ordy Street</div>
            <strong>PHONE</strong><br>
            <div class="contact-info-local">+375257089018</div>
            <strong>EMAIL</strong>
            <div class="contact-info-local">stalmanastya@gmail.com</div>
        </div>
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2353.8296472644133!2d27.482117415736397!3d53.84589374487648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd08ea61ea805%3A0x6b6c7e466436665!2z0YPQuy4g0J3QsNC_0L7Qu9C10L7QvdCwINCe0YDQtNGLIDMxLCDQnNC40L3RgdC6!5e0!3m2!1sru!2sby!4v1590501064696!5m2!1sru!2sby"  frameborder="0" style="border:0;"  aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>
